<ng-container *ngIf="currentQuestion$ | async as question">
    <ng-container *ngIf="question === undefined">

        <ul class="navigation-bar">
            <li>
                <div> &nbsp; </div>
            </li>
            <li>
                <a routerLink="/game/{{gameId}}/round/{{roundId}}">Back</a>
            </li>
            <li>
                <a routerLink="/selector">Exit</a>
            </li>
        </ul>

        Question not selected
    </ng-container>

    <ng-container *ngIf="question !== undefined">
        <ul class="navigation-bar">
            <li>
                <a routerLink="/game/{{gameId}}/round/{{roundId}}/question/{{questionId}}/answer">Answer</a>
            </li>
            <li>
                <div> &nbsp; </div>
            </li>
            <li>
                <a routerLink="/game/{{gameId}}/round/{{roundId}}">Back</a>
            </li>
            <li>
                <a routerLink="/selector">Exit</a>
            </li>
        </ul>

        <div class="wrapper">
            <div class="text">{{question.ask}}</div>
        </div>

    </ng-container>
</ng-container>