<ng-container *ngIf="currentQuestion$ | async as question">
    <ng-container *ngIf="question === undefined">
        <app-navigation-bar>
            <app-exit-button />
        </app-navigation-bar>
        Question not selected
    </ng-container>

    <ng-container *ngIf="question !== undefined">
        <app-navigation-bar>
            <a (click)="viewAnswer()">Answer</a>
            <app-navigation-bar-menu>
                <ul class="navigation-bar">
                    <li>
                        <a (click)="viewRound()">Back</a>
                    </li>
                    <li><app-game-select-button /></li>
                    <li><app-exit-button /></li>
                </ul>
            </app-navigation-bar-menu>
        </app-navigation-bar>

        <div (click)="viewAnswer()" class="wrapper">
            <div class="text">{{question.ask}}</div>
        </div>
    </ng-container>
</ng-container>