<ng-container *ngIf="currentQuestion$ | async as question">
    <ng-container *ngIf="question === undefined">
        <app-navigation-bar>
            <a routerLink="/game/{{gameId}}/round/{{roundId}}">Back</a>
            <app-navigation-bar-menu>
                <ul class="navigation-bar">
                    <li>
                        <a routerLink="/selector">Exit</a>
                    </li>
                </ul>
            </app-navigation-bar-menu>
        </app-navigation-bar>

        Question not selected
    </ng-container>

    <ng-container *ngIf="question !== undefined">
        <app-navigation-bar>
            <a routerLink="/game/{{gameId}}/round/{{roundId}}/question/{{questionId}}/answer">Answer</a>
            <app-navigation-bar-menu>
                <ul class="navigation-bar">
                    <li>
                        <a routerLink="/game/{{gameId}}/round/{{roundId}}">Back</a>
                    </li>
                    <li>
                        <a routerLink="/selector">Exit</a>
                    </li>
                </ul>
            </app-navigation-bar-menu>
        </app-navigation-bar>

        <div class="wrapper">
            <div class="text">{{question.ask}}</div>
        </div>

    </ng-container>
</ng-container>