/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

div.navigation-bar-wrapper {
  a, a:visited  {
    padding: $navigation-padding;
      color: $navigation-text-color;
      text-decoration: none;
  }
  a:hover {
    background-color: $navigation-background-hover-color;
  }
}

ul.navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
    display: block;
    color: $navigation-text-color;
    text-align: center;

    a {
      padding: $navigation-padding;
      display: block;
      color: $navigation-text-color;
      text-align: center;
      text-decoration: none;
    }

    a:hover {
      background-color: $navigation-background-hover-color;
    }
  }
}