$game-background: blue;
$game-text: white;

$navigation-background-color: #333333;
$navigation-background-hover-color: #111111;
$navigation-text-color: white;
$navigation-padding: 1em;

$navigation-button-font-size: 175%;
$navigation-button-margin-size: .15em;