<ng-container *ngIf="currentQuestion$ | async as question">
    <app-page *ngIf="question === undefined">
        <app-navigation-bar-title>
            <app-exit-button />
        </app-navigation-bar-title>
        Question not selected
    </app-page>

    <app-page *ngIf="question !== undefined">
        <app-navigation-bar-title>
            <a (click)="viewRound()">Back</a>
        </app-navigation-bar-title>
        <app-navigation-bar-menu>
            <ul class="navigation-bar">
                <li><app-game-select-button /></li>
                <li><app-exit-button /></li>
            </ul>
        </app-navigation-bar-menu>

        <div class="wrapper" (click)="viewRound()">
            <div class="text">{{question.answer}}</div>
        </div>
    </app-page>
</ng-container>