<ng-container *ngIf="currentQuestion$ | async as question">
    <ng-container *ngIf="question === undefined">
        <app-navigation-bar>
            <app-navigation-bar-menu>
                <a (click)="viewRound(gameId, roundId)">Back</a>
                <ul class="navigation-bar">
                    <li>
                        <a routerLink="/selector">Exit</a>
                    </li>
                </ul>
            </app-navigation-bar-menu>
        </app-navigation-bar>

        Question not selected
    </ng-container>

    <ng-container *ngIf="question !== undefined">
        <app-navigation-bar>
            <a (click)="viewRound(gameId, roundId)">Back</a>
            <app-navigation-bar-menu>
                <ul class="navigation-bar">
                    <li>
                        <a routerLink="/selector">Exit</a>
                    </li>
                </ul>
            </app-navigation-bar-menu>
        </app-navigation-bar>

        <div class="wrapper">
            <div class="text">{{question.answer}}</div>
        </div>
    </ng-container>
</ng-container>