<div *ngIf="currentGame$ | async as game">
    <ng-container *ngIf="game === undefined">
        Game not selected
        <div><a routerLink="/selector">Home</a></div>
    </ng-container>
    <ng-container *ngIf="game !== undefined">
        <div>Game: {{game.name}}</div>
        <ul>
            <li *ngFor="let round of game.rounds">
                <div><a routerLink="/game/{{game.id}}/round/{{round.id}}">{{round.type}}</a></div>
            </li>
        </ul>
        <div><a routerLink="/games">Back</a></div>
        <div><a routerLink="/selector">Home</a></div>
    </ng-container>
</div>
