<ng-container *ngIf="currentGame$ | async as game">
    <ng-container *ngIf="currentRound$ | async as round">
        <app-page *ngIf="round === undefined">
            <app-navigation-bar-title>
                <app-exit-button />
            </app-navigation-bar-title>
            Round not selected
        </app-page>

        <app-page *ngIf="round !== undefined">
            <app-navigation-bar-title>
                Round: {{round.type}}
            </app-navigation-bar-title>
            <app-navigation-bar-menu>
                <ul class="navigation-bar">
                    <li><a routerLink="/games/game/{{game.id}}">Rounds</a></li>
                    <li><app-game-select-button /></li>
                    <li><app-exit-button /></li>
                </ul>
            </app-navigation-bar-menu>

            <div class="round-container">
                <table class="categories">
                    <tr>
                        <th *ngFor="let category of round.categories">
                            {{category.name}}
                        </th>
                    </tr>
                    <tr>
                        <td *ngFor="let category of round.categories">
                            <table *ngIf="true" class="category">
                                <tr *ngFor="let question of category.questions">
                                    <td>
                                        <app-question-button [questionId]="question.questionId"></app-question-button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </app-page>
    </ng-container>
</ng-container>