<ng-container *ngIf="currentGame$ | async as game">
    <ng-container *ngIf="currentRound$ | async as round">
        <ng-container *ngIf="round === undefined">
            Round not selected
            <div><a routerLink="/games/{{gameId}}">Back</a></div>
            <div><a routerLink="/selector">Home</a></div>
        </ng-container>

        <ng-container *ngIf="round !== undefined">
            <div class="round-container">
                <ul class="navigation-bar">
                    <li><div> Round: {{round.type}}</div></li>
                    <li><a routerLink="/game/{{gameId}}">Back</a></li>
                    <li><a routerLink="/games">Games</a></li>
                    <li><a routerLink="/selector">Home</a></li>
                </ul>

                <table *ngIf="true" class="categories">
                    <tr>
                        <th *ngFor="let category of round.categories">
                            {{category.name}}
                        </th>
                    </tr>
                    <tr>
                        <td *ngFor="let category of round.categories">
                            <table *ngIf="true" class="category">
                                <tr *ngFor="let question of category.questions">
                                    <td>
                                        <a
                                            routerLink="/game/{{game.id}}/round/{{round.id}}/question/{{question.questionId}}">
                                            {{game.valueSymbol}}{{question.value}}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </ng-container>

    </ng-container>
</ng-container>