<ng-container *ngIf="currentGame$ | async as game">
    <ng-container *ngIf="currentRound$ | async as round">
        <app-page *ngIf="round === undefined">
            <app-navigation-bar-title>
                <app-exit-button />
            </app-navigation-bar-title>
            Round not selected
        </app-page>

        <app-page *ngIf="round !== undefined">
            <app-navigation-bar-title>
                Round: {{round.type}}
            </app-navigation-bar-title>
            <app-navigation-bar-menu>
                <ul class="navigation-bar">
                    <li><app-round-select-button /></li>
                    <li><app-game-select-button /></li>
                    <li><app-exit-button /></li>
                </ul>
            </app-navigation-bar-menu>
            
            <table class="round-table">
                <tr>
                    <td *ngFor="let categoryId of round.categoryIds">
                        <app-category-column [categoryId]="categoryId"></app-category-column>
                    </td>
                </tr>
            </table>
        </app-page>
    </ng-container>
</ng-container>