@import '../game-board-variables.scss';

$game-border-color: $game-text-color;
$game-border-width: 2px;
$game-border: $game-border-width solid $game-text-color;
$category-height: 4em;

div.question-button {
    display: grid;
    width: 100%;
    height: 100%;
    font-size: 400%;
    color: $game-text-color;
    align-items: center;
}
div.question-button:hover {
    cursor: pointer;
    background-color: $game-background-color-hover;
}

div.round-container {
    width: 100%;
    height: 100%;
}

table.round-table {
    height: 100%;
    border-spacing: 0;
}
