@import '../game-board-variables.scss';

$game-border-color: $game-text-color;
$game-border-width: 2px;
$game-border: $game-border-width solid $game-text-color;
$category-height: 4em;

table.round-table {
    height: 100%;
    border-spacing: 0;
}
